<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="author" content="{{ siteData.author }}">
        <meta name="description" content="{{ siteData.description.short }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ pageData.title }}</title>
        <style>{{{ siteData.styles }}}</style>
    </head>
    <body>
        <header>
            <p class="logo"><strong><a href="/">{{ siteData.name }}</a></strong></p>
            {{> nav }}
        </header>
        