<h2>Recent articles</h2>
<ul>
    {{#siteData.recentPosts}}
        <li><a href="/{{ year }}/{{ slug }}/">{{ title }}</a> - {{ shortDate }}</li>
    {{ else }}
        <li>No articles yet!</li>
    {{/siteData.recentPosts}}
</ul>

